.center-div
{
  position: absolute ;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 3px;


}

.Loading{
  display: block;
  margin: 0 auto;
  border-color: red
}



.wrapper{
 position: relative;

}
.buttonClassname{


}
.buttonProgress{


  color: #00a500;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  
 
}



.buttonSuccess {
  background-color: #00a500
 }

 .buttonSuccess:hover {
  background-color: #00a800
 }

 .CenteredDiv{
  height: auto; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
 }



 .CenterParent {
  position: relative;
}
.CenterChild {
    text-align: -webkit-center;
    width:100%;
    max-width: auto;
    background: white;
  
min-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
padding-top: 15px;
padding-bottom: 40px;
  border-radius: 10px;
}